* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    font-family: "Press Start 2P", cursive;
}

.container {
    display: flex;
    flex-direction: column;
    background-image: url("https://github.com/digitalinnovationone/jsgame-detona-ralph/blob/main/src/images/wall.png?raw=true");
    height: 100vh;
}

.menu {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 90px;
    width: 100%;
    background-color: black;
    color: white;
    border-bottom: 5px solid gold;
}

.panel {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.square {
    height: 150px;
    width: 150px;
    border: 1px solid black;
    background-color: aquamarine;
}

.enemy {
    background-image: url("https://github.com/digitalinnovationone/jsgame-detona-ralph/blob/main/src/images/ralph.png?raw=true");
    background-size: cover;
}

.menu-lives {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Dentro classe "menu-time", eu estou procurando um "h2", que seja o segundo filho (é o segundo filho por causa do número dois) */
.menu-time h2:nth-child(2),  
.menu-score h2:nth-child(2) {
    margin-top: 1rem;
}
