/* VARIAVEL */
:root {
  --primary-color: #B9001F;
}

* {
    padding: 0;
    margin: 0;
    vertical-align: baseline;
    list-style: none;
    border: 0;
    color: white;
    font-size: 16px;
    text-decoration: none;
    font-family: "IBM Plex Serif", serif;
}
