/*COMANDOS GERAIS*/
body {
    margin: 0;
    padding: 0;
    background: black;
}

/*
O problema é que a propriedade color não altera a cor da linha de um <hr>.
O <hr> (linha horizontal) é um elemento especial: ele é renderizado como uma borda, não como texto.

Por isso, para mudar a cor da linha, você precisa alterar a borda ou o fundo dela — não o color
*/
hr {
    border: 1px solid rgb(83, 140, 255);
}

h1 {
    color: rgb(83, 140, 255);
    text-align: center;
}

/*PARTE 1*/
.primeiro {
    height: 500px;
    background-image: url("https://github.com/digitalinnovationone/trilha-css-desafio-01/blob/main/assets/images/banner.png?raw=true");
    margin-top: -20px;
    background-color: rgb(2, 65, 77) ;
    
}

#logo {
    margin-top: 44px;
    margin-left: 630px;
    border-radius: 50%;
    border-top-left-radius: 30px 30px 30px;
    box-shadow: 0px 0px 30px black;
}

#pa1 {
    text-align: center;

}

/*PARTE 2*/
.segundo {
    background: black;
    width: 100vw;
    height: 400px;
    margin: 0;
    padding: 0;
}

#pa2 {
    word-wrap: break-word;
    width: 720px; 
    margin-left: 370px;
}

b {
    color: rgb(83, 140, 255);
}

p {
    color: white;
    text-align: center;
    padding: 10px;
}

button {
    color: white;
    background: rgb(59, 58, 58);
    border-radius: 50px;
    width: 500px;
    height: 50px;
    border-color:  rgb(83, 140, 255);
    margin-left: 500px;
}

/*PARTE 3*/
.mulher {
    height: 380px;
    background-image: url("https://github.com/digitalinnovationone/trilha-css-desafio-01/blob/main/assets/images/woman-code.png?raw=true");
    background-size: cover;
    background-attachment: fixed;
}

h2 {
    color: white;
    word-wrap: break-word;
    width: 166px;
    margin-top: -7px;
    padding-top: 190px;
    padding-left: 207px;
    font-family: Verdana, Geneva, sans-serif;  
    text-shadow: 2px 2px 1px rgb(83, 140, 255); 
}

/*PARTE 4*/
#texto4 {
    text-transform: uppercase;
    word-wrap: break-word;
    width: 746px;
    margin-left: 370px;
}

#cara {
    margin-left: 450px;
}

#pa3 {
    word-wrap: break-word;
    width: 720px; 
    margin-left: 370px;
}

/*PARTE 5*/
footer {
    background: linear-gradient(to top, rgb(12, 60, 92), black);
    background-size: auto;
    object-position: center  
}

#dio {
    margin-left: 600px;
    margin-top: 10px;
}

a {
    color: rgb(83, 140, 255);
    text-decoration: none;
}
