/*** VARIABLES & THEMES ***/

/*
São VARIÁVEIS, são valores definidos pelo próprio desenvolvedor e que podem ser reutilizados em todo o código CSS. Elas tornam o estilo mais organizado, fácil de manter e permitem temas dinâmicos (como modo claro/escuro)."
*/
:root {
  --primary-color: #cf0f0f;
  --primary-color-contrast: #ffffff;
  --field-background-color: #000;
}

/* ---- LIGHT THEME ---- */
.light-theme {
  --page-background: linear-gradient(
    180deg,
    #ffffff 0%,
    #ffffff 65%,
    rgba(255, 255, 255, 0.75) 100%
  );
  --header-background-color: #e3e3e3;
  --highlight-color: #000000;

  --character-top-image-src: url("https://raw.githubusercontent.com/digitalinnovationone/semana-frontend-mundo-invertido/7e37e8bf3f7f2f76900095019f10973404326a88/assets/images/characters/kids-on-the-bike.svg");
  --character-top-image-color: #ffffff;

  --character-bottom-image-src: url("https://raw.githubusercontent.com/digitalinnovationone/semana-frontend-mundo-invertido/7e37e8bf3f7f2f76900095019f10973404326a88/assets/images/characters/inverted-world-monster.svg");
  --character-bottom-image-color: #e5e5e5;

  --background-lamp-image: url("https://github.com/digitalinnovationone/semana-frontend-mundo-invertido/blob/main/assets/images/backgrounds/lamps-inverted.png?raw=true");

  --footer-background-color: #b5bbbf;
}

/* ---- DARK THEME ---- */
.dark-theme {
  --page-background: linear-gradient(
    180deg,
    #050000 0%,
    #130404 65%,
    rgba(19, 1, 1, 0.75) 100%
  );
  --header-background-color: #220f0f;
  --highlight-color: #ffffff;

  --character-bottom-image-src: url("https://raw.githubusercontent.com/digitalinnovationone/semana-frontend-mundo-invertido/7e37e8bf3f7f2f76900095019f10973404326a88/assets/images/characters/kids-on-the-bike.svg");
  --character-bottom-image-color: rgba(255, 255, 255, 0.1);

  --character-top-image-src: url("https://raw.githubusercontent.com/digitalinnovationone/semana-frontend-mundo-invertido/7e37e8bf3f7f2f76900095019f10973404326a88/assets/images/characters/inverted-world-monster.svg");
  --character-top-image-color: #000;

  --background-lamp-image: url("https://github.com/digitalinnovationone/semana-frontend-mundo-invertido/blob/main/assets/images/backgrounds/lamps-inverted.png?raw=true");

  --footer-background-color: #000;
}

.dark-theme button,
.dark-theme h1,
.dark-theme h2,
.dark-theme h3 {
    letter-spacing: 5px;
    font-weight: normal;
}

.dark-theme .invert-element {
    transform: rotateZ(180deg) scaleX(-1);
}


/* ---- GLOBAL ---- */
* {
    margin: 0;
    box-sizing: border-box;
    transition: 1s;
}

h2, h3 {
    font-size: 3rem;
    color: var(--primary-color);
    text-transform: uppercase;
    margin-bottom: 40px;
    font-family: "Ubuntu", sans-serif;
}

p, input, label, textarea {
    color: var(--highlight-color);
    font-family: "PT Serif", serif;
}

button{
    padding: 16px 32px;
    background-color: transparent;
    font-weight: 900;
    font-size: 1.25rem;
    text-transform: uppercase;
    cursor: pointer;
    transition: background .7s;
}

input, textarea {
    border: 2px solid var(--primary-color-contrast);
    background-color: var(--field-background-color);
    color: var(--primary-color-contrast);
    padding: 8px;
    margin-bottom: 24px;
    font-size: 1rem;
}

label{
    margin-bottom: 8px;
}

main {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background: var(--page-background), 
        url("https://raw.githubusercontent.com/digitalinnovationone/semana-frontend-mundo-invertido/main/assets/images/backgrounds/florest.png");
    
    background-repeat: no-repeat, no-repeat;
    background-size: cover, cover;
    background-position: center, center;
    z-index: -1;
}

section {
    display: flex;
    justify-content: space-between;
    margin-bottom: 95px;
}

footer {
    padding: 60px 0;
    background-color: var(--footer-background-color);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    overflow: hidden;
}

footer p {
    max-width: 700px;
    margin-bottom: 24px;
}

footer::before, footer::after {
    content: "";
    width: 300px;
    height: 200px;
    position: absolute;
    background-size: contain;
    background: url("https://raw.githubusercontent.com/digitalinnovationone/semana-frontend-mundo-invertido/7e37e8bf3f7f2f76900095019f10973404326a88/assets/images/footer/tape.svg") no-repeat;
    bottom: -30px;
}

footer::before {
    left: -60px;
    transform: rotateZ(-10deg);
}

footer::after {
    right: -60px;
    transform: rotateZ(10deg);
}

/* ---- HEADER ---- */
header {
    background-color: var(--header-background-color);
    min-height: 850px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.header-content {
    max-width: 700px;
    padding: 80px 20px;
    text-align: center;
    z-index: 2;
}

header::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: url("https://github.com/digitalinnovationone/semana-frontend-mundo-invertido/blob/main/assets/images/banner/florest.webp?raw=true");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center 90%;
    filter: saturate(0);
    opacity: 0.2;
}

.header-content img {
    width: 80%;
}

.header-content p {
    margin: 30px 0 50px;
}

.header-content button {
    color: var(--primary-color);
    border: 3px solid var(--primary-color);
}

.header-content button:hover {
    background-color: var(--primary-color);
    color: var(--primary-color-contrast);
}


/* ---- CHARACTERS ---- */

/* TOP characters */
#top-characters {
    position: absolute;
    bottom: -3px;
    width: 100%;
    max-width: 900px;
    height: 300px;
    background-color: var(--character-top-image-color);

    mask-image: var(--character-top-image-src);
    mask-repeat: no-repeat;
    mask-size: contain;
    mask-position: bottom;

    -webkit-mask-image: var(--character-top-image-src);
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: contain;
    -webkit-mask-position: bottom;
}

/* BOTTOM characters */
#bottom-characters {
    position: relative;
    top: 3px;
    height: 500px;
    width: 100%;
    max-width: 900px;

    transform: rotateZ(180deg) scaleX(-1);
    background-color: var(--character-bottom-image-color);

    mask-image: var(--character-bottom-image-src);
    mask-repeat: no-repeat;
    mask-size: contain;
    mask-position: bottom;

    -webkit-mask-image: var(--character-bottom-image-src);
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: contain;
    -webkit-mask-position: bottom;
}


/* ---- MAIN ---- */
.container {
    max-width: 1200px;
}

#section-inverted-world {
    align-items: center;
}

#section-inverted-world .section-texts {
    width: 50%;
    max-width: 300px;
}

#section-inverted-world .section-texts h2 {
    display: inline-block;
    max-width: 425px;
}

#section-stranger-things-trailer .section-texts {
    text-align: right;
    width: 50%;
}

#section-stranger-things-trailer .section-texts h2 {
    max-width: 425px;
    display: inline-block;
}

#section-stranger-things-trailer .video-frame {
    background-color: var(--primary-color);
}

#section-stranger-things-trailer .video-frame iframe {
    position: relative;
    bottom: 24px;
    left: 24px;
    border: 2px solid;
    border-image: linear-gradient(var(--primary-color), var(--primary-color-contrast));
    border-image-slice: 10;
}

#section-stranger-things-gallery {
    width: 100%;
    justify-content: center;
    background: var(--background-lamp-image) 120% / 50% no-repeat;
}

#section-stranger-things-gallery .container {
    width: 100%;
}

#section-stranger-things-gallery .container h2 {
    width: 800px;
}

#section-stranger-things-gallery .gallery-container {
    display: flex;
    gap: 50px;
    padding-left: 20px;
}

#section-stranger-things-gallery .gallery-image {
    width: 250px;
    height: 250px;
    outline: 20px solid black;
    border: 3px solid var(--primary-color);
    box-sizing: initial;

}

#section-stranger-things-gallery .gallery-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 10px solid black;
}

#section-form {
    flex-direction: column;
    align-items: center;
    gap: 40px;
    text-align: center;
}

#section-form h2 {
    width: 600px;
}

#section-form .form-content h3 {
    color: var(--highlight-color);
    flex-basis: 30%;
    text-align: left;
    margin: 0;
}

#section-form .form-content h3 span {
    color: var(--primary-color);
}

#section-form .form-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#section-form .form-container {
    flex-basis: 50%;
    position: relative;
}

#section-form .form-container::after {
    content: "";
    background-color: var(--highlight-color);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 24px;
    left: 24px;
    z-index: -1;
}

#section-form .form-container form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 24px;
    background-color: var(--primary-color);
    color: var(--primary-color-contrast);
    text-align: left;
}

#section-form .form-container form button {
    border: none;
    background-color: var(--field-background-color);
    color: var(--primary-color-contrast);
    max-width: 300px;
    align-self: center;
}

#section-form .form-container form button:hover {
    background-color: var(--primary-color-contrast);
    color: var(--field-background-color);
} 




