body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: darkslategray;
    user-select: none;
}

.container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

h2 {
    color: white;
    font-size: 3em;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

.reset {
    padding: 15px 20px;
    width: 100%;
    color: black;
    background-color: rgb(255, 255, 255);
    border: 2px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1em;
    text-transform: uppercase; 
    cursor: pointer;
}

.game {
    width: 430px;
    height: 430px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    transform-style: preserve-3d;
    perspective: 500px;
}

.item {
    position: relative;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    font-size: 2em;
    transform: rotate(180deg);
    transition: 0.3s;
}

.item::after{
    content: "";
    position: absolute;
    inset: 0;
    background: black;
    transition: 0.3s;
    transform: rotateY(0deg);
    backface-visibility: hidden;
}

.item.boxOpen {
    transform: rotateY(0deg);
}

.boxOpen::after,
.boxMatch::after{
    transform: rotateY(180deg);
}
