.elemento1 {
    width: 300px;
    height: 300px;
    background: blue;
    background-image: url('https://www.guiageo.com/europa/imagens/mapa-noruega.jpg');
    background-size: 100% 100%; /*Melhor forma para deixar a imagem correta*/
}

.elemento2 {
    width: 300px;
    height: 300px;
    background: blue;
    background-image: linear-gradient(darkgreen,darkblue,red); /*Isso é um degradê*/
}

.elemento3 {
    width: 300px;
    height: 300px;
    background: blue;
    background-image: radial-gradient(darkgreen,darkblue,red) ; /*Isso é um degradê*/
}
