div {
    width: 200px;
    height: 300px;
    border: 5px solid blue;
}

img {
    width: 100%;
    height: 100%;
}

#contain {
    object-fit: contain;
}

#cover {
    object-fit: cover;
}

#position {
    object-position: 30px 40px;
}
